:root{
    --color-one: #f00;
    --color-two: #fff;
    --color-three: #000;

    --font-size-big: 2rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.5rem;
}

body{
    display: flex;
    justify-content: center;
}

.calculator{
    height: 70vh;
    width: 30vw;
    padding: 5vh;
    box-shadow: 5px 5px 10px #555;
    display: flex;
    flex-direction: column;
}

.display{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#displayScreen{
    height: 100%;
    width: 98%;
    border: none;
}

.numpad{
    position: relative;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    height: 70%;
}

.numbers{
    margin: 0;
    padding: 0;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.numbers button{
    width: 33%;
    height: 25%;
}

.operators{
    margin: 0;
    padding: 0;
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.operators button{
    width: 50%;
}

#equal{
    width: 100%;
}

button{
    border: none;
    background-color: var(--color-two);
    font-size: var(--font-size-medium);
}

button:hover{
    /* border: 2px solid var(--color-three); */
    background-color: var(--color-three);
    color: var(--color-two);
    font-size: var(--font-size-big);
}

button#deleteEverything{
    background-color: var(--color-one);
}